<!DOCTYPE html>
<html lang="en">
  <body>
    <div style="font-size: 13px; margin: 20px 0;">회원가입 해주셔서 감사합니다.</div>
    <div style="font-size: 13px; margin: 20px 0;">해당 메일은 <%= email %>이 정확한 이메일 주소인지 확인하는 메일입니다.</div>
    <div style="font-size: 18px; margin: 20px 0;">인증코드는 [ <%= code %> ] 입니다.</div>
  </body>
</html>
